.primary-btn {
  background-color: $accent-color;
  color: $secondary-text-color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  @include fonts(700, 12px, 1.8, 0.06em);
  font-family: inherit;
  cursor: pointer;

  transition: box-shadow $primary-animation;

  @media screen and(min-width: 480px) {
    font-size: 16px;
  }
}

.primary-btn__icon {
  position: absolute;
  top: 50%;
  right: 28px;
  transform: translateY(-50%);
}

.hero__btn {
  padding: 10px 24px;
  border-style: none;
  border-radius: 4px;

  @media screen and(min-width:1200px) {
    padding: 10px 32px;
  }
}

.footer__btn {
  position: relative;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 28px;
  padding-right: 62px;
  border-style: none;
  border-radius: 4px;

  margin-top: 20px;

  @media screen and(min-width:1200px) {
    margin-top: 0;
    margin-left: 12px;
  }

}

.form__btn {
  display: block;
  margin: 0 auto;
  padding: 10px 52px;
  border-style: none;
  border-radius: 4px;
}